<app-navbar></app-navbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <app-service-list></app-service-list>
    </mat-drawer>
    <mat-drawer-content>
        <app-service-render></app-service-render>
    </mat-drawer-content>
</mat-drawer-container>